* {
  margin: 1%;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
table {
  width: 80vw;
  border-spacing: 0px;
}
th,
td {
  width: 35px;
  text-align: center;
}
tr {
  width: 100px;
  height: 30px;
}
.val {
  width: 250px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #bdc7c7dc;
}
span {
  color: red;
}
p > .star {
  color: goldenrod;
}
label {
  font-weight: bolder;
}
